<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .navbar {
            background: #fcb69f;
        }

        .navbar-brand {
            padding: 15px 0;
        }

            .navbar-brand img {
                max-height: 50px;
                vertical-align: middle;
            }

        .profile-picture {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #ccc; /* Placeholder color */
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="d-flex align-items-center justify-content-center " >
             
                        <img src="~/Content/images/logo.png" height="50px" width="50px" class="rounder-full" alt="Logo" />
                      
                
                </div>
              
            </div>
         
            <div class="navbar-collapse mx-5 collapse">
               
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="d-flex align-items-center justify-content-center " style="margin-top:4px">
                            <img src="~/Content/images/user.png" height="50px" width="50px" class="rounder-full" alt="Logo" />
                            <span class="ml-2">@Session["firstName"] @Session["lastName"]</span>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
