@model IEnumerable<Inventory_System.Models.Products>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/authLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon" />
    <title>Facebook Login</title>
    <link href="~/Content/style/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Lobster&display=swap"
          rel="stylesheet">

</head>
<style>
    .logo-text-container {
        display: flex;
        align-items: center;
    }

    .logo {
        margin-right: 10px; /* Adjust as needed */
        height: 80px;
        width: 80px;
    }

    .profile {
        margin-right: 10px; /* Adjust as needed */
        height: 50px;
        width: 50px;
    }
</style>
<body>
    <section class="gradient-form p-0">
        <div class="container">
            <div class="row d-flex justify-content-between align-items-center" style="margin-top: -44px">
                <div class="col-xl-8 d-flex align-items-center">
                    <img src="~/Content/images/logo.png" alt="Logo" class="logo">
                    <h3><span style="font-size:35px">Welcome</span> to online inventory system</h3>
                </div>
                <div class="col-xl-4 d-flex align-items-center justify-content-end">
                    <div class="logo-text-container">
                        <img src="~/Content/images/user.png" alt="logo" class="profile">
                        <h4>@Session["firstName"] @Session["lastName"]</h4>
                    </div>
                </div>
            </div>

            <hr />
            <h3>All Products</h3>
            <div class="row" style="margin-top:60px">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                      
                            <div class="card product-card mt-2">
                                <img class="card-img-top " style="height:250px" src="@Url.Content(item.file)" alt="Image" />
                                <div class="card-body">
                                    <h3 class="card-title">@Html.DisplayFor(modelItem => item.name)</h3>
                                    <p class="card-text">@Html.DisplayFor(modelItem => item.description)</p>
                                </div>
                                <div class="card-footer text-muted d-flex justify-content-between">
                                    <p class="category">Category: @Html.DisplayFor(modelItem => item.category)</p>
                                    <p class="price">Price: @Html.DisplayFor(modelItem => item.price)$</p>
                                </div>
                            </div>
                      
                    </div>
                }
            </div>

        </div>
    </section>
</body>
</html>

